@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f9fafb; /* gray-50 */
  --foreground: #111827; /* gray-900 */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f9fafb; /* keep light mode for fast-commerce feel */
    --foreground: #111827;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
